@import "./../../../assets/scss/abstracts/variables";

.container {

  display: grid;
  grid-template-rows: 8rem 1fr;
  grid-template-columns: 30vw 70vw;
  height: 100vh;
  overflow-x: hidden;

  &__navbar {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  &__cards-list {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: calc(100vh - 7rem);
  }

  &__card-details {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

}

.cards {

  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  justify-content: center;

  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #46637e;

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    color: $color-white;
    font-size: 1.6rem;
    padding: 2rem 2rem;

    &:not(:last-child) {
      border-bottom: .1rem solid rgba(255, 255, 255, 0.1);
    }
  }


  &__search {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}


.active {
  background: #32465a;
  border-right: 5px solid #20a286;
}


.infotext {
  font-size: 2rem;
  color: #20a286;
  margin: 2rem 2rem;
}
